*{
    box-sizing: border-box;
    transition:all 0.5s;
}
body{
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.5;
}
.navbar{
    display:flex;
    width:100%;
    background-color:#f9f9f9;
    justify-content:center;
    box-shadow:1px 1px 5px 5px #eee;
    position:fixed;
    top:0;
    left:0;
    padding:20px 0px;
    z-index:1;
}
.navbar-nav{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width:80%;
    list-style-type: none;
}
.nav-tab{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex: 1 ;
}
.navbar-nav li{
    flex:1;
    /* padding:5px; */
    text-align: center;
}
.nav-link{
    padding:10px;
    font-size:20px;
    text-decoration: none;
    color:rgb(169, 27, 252);
}
.nav-link:hover,.nav-link:focus{
    opacity:0.6;
    color:#333;
}
.active a{
    color: #0dcb4b;
    border-bottom: 3px solid #f344d7
}
.menu-bar{
    display:none;

}
.show-on-small{
    display: flex;
    align-items: center;
}
section{
    min-height:100vh;
}
.btn{
    padding:12px;
    border:2px solid #f42234;
    border-radius:5px;
    text-decoration:none;
    color:#001;
    background:transparent;
}
 .register{
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.466); /* Black w/ opacity */
}
.content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius:20px;
    padding:20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    
} 
.content h3{
    text-align:center;
    font-size: 26px;
}

.content form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.content input,.content label{
    padding:10px;
    margin-top:40px;
}
.content input{
    flex:1 0 80%;
    width:70%;
    border:0px;
    border-bottom:2px dashed rgba(0, 47, 255, 0.884);
}
.content input[type="submit"]{
    background:rgba(132, 0, 255, 0.884);
    color:#fff;
    text-transform:uppercase;
    font-weight: bold;
    border:0;
    border-radius:20px;
    
}
input:focus{
    outline: none;
}
.content label{
    flex:1 0 20%;
    color:rgb(252, 91, 27);
    align-self: flex-start;
}
.content .close{
    position:absolute;
    right:5%;
    top:5%;
}
.section1{
    background:url('../images/dog-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height:120vh;
    margin-top:90px;
}

@keyframes animatetop {
    from {transform:scale(0); opacity: 0}
    to {transform:scale(1); opacity: 1}
}

.overlay{
    min-width:100%;
    min-height:inherit;
    background:rgba(250,250,250,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    padding:10px;
    margin:0 auto;
    text-align:center;
}
.container h3{
    font-size:60px;
    text-transform: capitalize;
    color:rgba(132, 0, 255, 0.884);
    text-shadow:2px 3px #fff;
}
.container p{
    line-height:1.5;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container .btn{
    position: relative;
    top:50px;
}
footer p{
    text-align:center;
    padding:5px;
    font-family: cursive;
}
.fa-heart{
    color:#f42234;
}
.fa-coffee{
    color:chocolate;
}
.menu-active{
    left:0px;
}
.register-btn:hover{
    transform:scale(1.1);
    background:#f4223357;
}
.about{
    min-height:100vh;
    margin-top:110px;
    background:#fafafa;/*linear-gradient(#fff,rgb(229, 226, 226));*/
    display:flex;
    justify-content:flex-start;
    flex-direction: column; 
    align-items:center;
}
.about .about-header{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;
    text-transform: uppercase;
    background-color:rgba(24, 24, 24, 0.26);
    padding:5px;
    letter-spacing: 1.5px;
    border-radius:10px;
}
.about .about-header strong{
    font-size:24px;
    padding:8px;
    color:#ddd;
    background-color:rgb(169, 27, 252);
    border-radius:50%;
}
.about .about-header strong:nth-child(even){
    background-color:#0dcb4b;
}
.row{
    width:90%;
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding:10px;
    min-height:30vh;
    margin:10px auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col{
    flex:0 1 80%;
    padding:15px;
    text-align: justify;
    background-color:#f4f4f4;
}
.col-2{
    flex:0 1 30%;
    padding:10px;
}
.col-4{
    flex: 0 1 40%;
    padding:10px;
}
.col-2 img{
    width:300px;
    border-radius:50%;
}
.about-background{
    background:url('../images/dog-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height:80vh;
    position:relative;
}
.placeholder-img{
    width:250px;
    height:250px;
    background-color: #aaa;
    text-align:center;
    border-radius: 50%;
    margin:0 auto;
    position: relative;
}
.placeholder-img span{
    position:absolute;
    top:50%;
    left:35%;
}
.section-border{
    background: url("../images/zigzag.png") repeat-x;
    position: absolute;
    left: 0;
    top: -13px;
    width: 100%;
    height: 12px;
}
.details-sec{
    width:100%;
    padding:10px;
    margin-top:100px;
    background:url('../images/details-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.details-sec>h1{
    color:#fff;
    font-size:40px;
    text-shadow: 1px 1px 2px #111;
}
.details-sec .col{
    background: /*rgba(219, 216, 216, 0.205)*/ transparent;
    box-shadow:1px 1px 5px #999;
    border-radius: 10px;
    color:rgb(248, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width:100%;
    margin-top:20px;
}
.square{
    border-radius: 10px;
}

/**** Media Queries ******/
@media screen and (max-width:700px){
    .navbar{
        padding:0;
    }
    .navbar-nav{
        width:100%;
        flex-direction:column;
        align-items: center;
        padding:0;
    }
    .navbar-nav li{
        width:100%;
    }
    .nav-tab {
        width:100%;
        top:15vh;
        height:90vh;
        flex-direction: column;
        background: #f4f4f4;
    }
    .container{
        top:10px;
    }
    .section1{
        margin-top:8vh;
    }
    .content{
    width: 90%;
    }
    .content form{
        /* width:100%; */
        flex-direction: column;
    }
    .content input,.content label{
        padding:5px;
        margin-top:20px;
    }

    .show-on-small{
        justify-content: center;
        width:100%;
    }
    .show-on-small li{
        text-align: left;
    }
    .menu-bar{
        display:block;
        z-index:1;
        margin-left:20px;
        padding:6px;
    }
    
    .hide-on-small{
        position:absolute;
        left:-100vw;
    }
    .row{
        width:100%;
        flex-wrap: wrap;
    }
    .col{
        flex-basis:100%;
        order:2;
    }
    .col-4{
        flex-basis:100%;
    }
    .square{
        width:100%;
    }
    .about{
        margin-top: 13vh;
    }

}